<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<body>
    <input type="text" name="" id="palavra">
    <button onclick="enviar()">Enviar</button>
    <hr>
    <p id="resultado"></p>
</body>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script>
    var socket = io("http://localhost:3030");
    
    socket.emit("boasvindas",{nome: "Naomi Moreira"});
    
    socket.on("resultado",(data) => {
        console.log("teste1");
            var p = document.getElementById("resultado")
            p.innerHTML = data

        })
    function enviar(){
        console.log("teste");
        var input = document.getElementById("palavra");
        socket.emit("palavra",input.value)
    }

</script>
</html>